<ion-header>
  <ion-toolbar>
    <ion-title>Crear nueva cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="addQuote()">

    <ion-item>
      <ion-label position="stacked">Cita</ion-label>
      <ion-textarea
        [(ngModel)]="text"
        name="text"
        maxlength="1024"
        required>
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input
        [(ngModel)]="author"
        name="author"
        maxlength="80"
        required>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      Agregar +
    </ion-button>

  </form>

</ion-content>