<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Este botón abrirá automáticamente el menú lateral configurado -->
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Citas Famosas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Cita actual -->
<app-quote-card
  *ngIf="quote"
  [quote]="quote">
</app-quote-card>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal = true">
      +
    </ion-fab-button>
  </ion-fab>

  <!-- Modal simple -->
  <div class="modal" *ngIf="openModal">

    <div class="modal-content">

      <h2>Create a new quote</h2>

      <app-quote-form
        (add)="addQuote($event)">
      </app-quote-form>

      <ion-button expand="block" color="medium" (click)="openModal = false">
        Close
      </ion-button>

    </div>

  </div>

</ion-content>